<div class="footer">
  <div class="container">
    <div class="footer-info">
      Copyright {{ 'now' | date: "%Y" }}
      <br/>
      <a href="http://www.ihep.cas.cn/">Institute of High Energy Physics, CAS</a>
    </div>

    <div class="footer-statement">
      JSUB is free, open source and always will be.
    </div>

    <div class="footer-social">
      <a href="http://twitter.com/jsub"
        title="Twitter">
        <i class="icon-twitter"></i>
      </a>
      <a href="https://github.com/jsubpy/jsub"
        title="GitHub">
        <i class="icon-github"></i>
      </a>
      <a href="https://plus.google.com/communities/106387049790387471205"
        title="Google+">
        <i class="icon-gplus"></i>
      </a>
    </div>
  </div>
</div>
