<header class="header">
  <nav role="navigation" aria-label="main">
    <ul class="header-nav container">
      <li class="header-jsub">
        <a href="/">JSUB<span class="visually-hidden">JSUB homepage</span></a>
      </li>
      <li class="active" aria-label="You are here">
        <a href="/docs/">Docs</a>
      </li>
      <li>
        <a href="/exts/">Extensions</a>
      </li>
      <li>
        <a href="https://github.com/jsubpy/jsub/releases" target="_blank">Releases</a>
      </li>
      <li>
        <a href="https://github.com/jsubpy/jsub" target="_blank">View on Github</a>
      </li>
    </ul>
  </nav>
</header>
